.playback-button {
    margin-top: 4px;
    margin-bottom: 4px;
}

.playback-buttons {
    margin-top: 8px;
}

.album-artwork {
    border-radius: 2%;
    -webkit-user-drag: none;
    margin: 0 auto;
}

.album-link {
    -webkit-user-drag: none;
}

.radio-notice {
    display: none;
}

.play {
    display: none;
}

.pause {
    display: none;
}

.next {
    display: none;
}

.previous {
    display: none;
}

.name {
    margin-top: 5px;
    user-select: text;
}

.artist, .album {
    user-select: text;
}

.debug {
    display: none;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 1em;
   width: 100%;
   text-align: center;
   cursor: default;
}

.debug {
    padding: 6px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #f35756;
}

.debug-header {
    color: black
}

.debug-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.heart {
    border: none !important;
	padding: 0px !important;
    width: auto !important;
	text-align: center !important;
    outline: 0px !important;
	outline-offset: 0px !important;
	color: black !important;
	background: none !important;
    cursor: default !important;
}

* {
    user-select: none;
}

/* CSS styles for the progress element */
progress {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
}

progress::-webkit-progress-value { 
  background-color: var(--vscode-progressBar-background);
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background-color: var(--vscode-input-background);
  border-radius: 10px;
}

progress::-webkit-progress-inner-element {
  border-radius: 10px;
}

.playback-slider {
    margin-top: 16px;
    margin-bottom: 24px;
}

.playback-slider-container {
    width: 98%;
    margin: 0 auto;
}
