button.playback-button {
    margin-top: 4px;
    margin-bottom: 4px;
}

img.album-artwork {
    border-radius: 2%;
}

button.play {
    display: none;
}

button.pause {
    display: none;
}

button.next {
    display: none;
}

button.previous {
    display: none;
}

div.footer {
   position: fixed;
   left: 0;
   bottom: 1em;
   width: 100%;
   text-align: center;
}