.playback-button {
    margin-top: 4px;
    margin-bottom: 4px;
}

.playback-buttons {
    margin-top: 8px;
}

.album-artwork {
    border-radius: 2%;
}

.radio-notice {
    display: none;
}

.play {
    display: none;
}

.pause {
    display: none;
}

.next {
    display: none;
}

.previous {
    display: none;
}

.name {
    margin-top: 5px;
}

.debug {
    display: none;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 1em;
   width: 100%;
   text-align: center;
}

.playback-slider {
    margin-top: 10px;
}

.debug {
    padding: 6px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #f35756;
}

.debug-header {
    color: black
}

.debug-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.heart {
    border: none !important;
	padding: 0px !important;
    width: auto !important;
	text-align: center !important;
	outline: 0px !important;
	outline-offset: 0px !important;
	color: black !important;
	background: none !important;
}